[project]
	description = Fortune Files
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ben smith (polynomial)
[access "refs/for/refs/*"]
	read = group user/ben smith (polynomial)
	push = group user/ben smith (polynomial)
	label-Code-Review = -2..+2 group user/ben smith (polynomial)
	label-Verified = -1..+1 group user/ben smith (polynomial)
	rebase = group user/ben smith (polynomial)
	removeReviewer = group user/ben smith (polynomial)
	submit = group user/ben smith (polynomial)
[access "refs/heads/*"]
	read = group user/ben smith (polynomial)
	create = group user/ben smith (polynomial)
	push = +force group user/ben smith (polynomial)
	pushMerge = group user/ben smith (polynomial)
[access "refs/tags/*"]
	push = +force group user/ben smith (polynomial)
	pushTag = group user/ben smith (polynomial)
	pushSignedTag = group user/ben smith (polynomial)
